@model PMSAPP.Entities.Product
@{
    ViewBag.Title = "AddProduct";
}

@*
    <fieldset>
        <legend>Enter Product Details:</legend>
        <form method="post">
            <table>
                <tr>
                    <td>
                        Enter Name:
                    </td>
                    <td>
                        <input type="text" name="ProductName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter Id:
                    </td>
                    <td>
                        <input type="text" name="ProductId" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter Price:
                    </td>
                    <td>
                        <input type="text" name="Price" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter Description:
                    </td>
                    <td>
                        <input type="text" name="Description" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter CategoyId:
                    </td>
                    <td>
                        <input type="text" name="CategoryId" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center">
                        <br/>
                        <input type="submit" name="btnAdd" value="Add Product"/>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
*@

<fieldset>
    <legend> Enter Product Details: </legend>
    @using (this.Html.BeginForm())
    {
        Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" });
        <table>
            <tr>
                <td>
                   @Html.LabelFor(p=>p.ProductName)
                </td>
                <td>
                    @this.Html.EditorFor(p=>p.ProductName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.ProductId)
                </td>
                <td>
                    @this.Html.EditorFor(p => p.ProductId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.Price)
                </td>
                <td>
                    @this.Html.EditorFor(p => p.Price)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.Description)
                </td>
                <td>
                    @this.Html.EditorFor(p => p.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.CategoryId)
                </td>
                <td>
                    @this.Html.EditorFor(p => p.CategoryId)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <br />
                    <input type="submit" name="btnAdd" value="Add Product" />
                </td>
            </tr>
        </table>
    }
</fieldset>
